$yellow: #ffce33;
$blue: #1f2532;

.row {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: -20px;

    .col-3 {
        flex: 0 1 calc(33.3333% - 20px);
        margin-left: 20px;
    }

    @media only screen and (max-width: 992px) {
        flex-wrap: wrap;
        margin-left: 0;

        .col-3 {
            flex: 0 1 100%;
            margin-left: 0;
            margin-bottom: 50px;;
        }
    }
}

article.line-of-arrow {
    max-width: 500px;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    cursor: pointer;

    @media only screen and (max-width: 992px) {
        max-width: 100%;
    }

    a {
        color: black;
        transition: color .5s ease;

        &:hover {
            text-decoration: none;
            color: $yellow;
        }
    }

    .image {
        position: relative;
        display: flex;
        overflow: hidden;
        max-width: 420px;
        width: 100%;
        height: 196px;

        @media only screen and (max-width: 992px) {
            max-width: 100%;
        }

        img {
            transition: transform 1s;
            object-fit: cover;
        }
    }


    .description {
        position: relative;
        display: block;
        margin-left: 25px;

        .vertical-line {
            position: absolute;
            left: 0;
            width: 2px;
            height: 80px;
            background-color: $yellow;
            top: -35px;
            transition: top .5s .2s;
        }

        .title {
            margin-top: 50px;
            font-size: 16px;
            line-height: 20px;
            height: 40px;
            overflow: hidden;
        }
        
        .lead {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 25px;
            height: 150px;
            overflow: hidden;
        }

        .plus {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            right: 20px;
            background-color: $yellow;
            transform: translateY(-50%) rotate(45deg);
            transition: color .5s, transform .5s;

            &:before,
            &:after {
                content: '';
                position: absolute;
                display:block;
                top: 50%;
                left: 50%;
                transition: background-color .5s;
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: $blue;
            }

            &:before {
                width: 2px;
                height: 20px;
            }

            &:after {
                width: 20px;
                height: 2px;
            }
        }

        .more {
            display: flex;
            position: relative;
            overflow: hidden;
            align-items: flex-end;

            &-button {
                position: relative;
                margin-left: 0;
                transition: all .5s 0s;
    
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    height: 2px;
                    background-color: $yellow;
                }
    
                &:before {
                    top: 100%;
                    left: -40px;
                    width: 32px;
                    margin-right: 8px;
                    transform: translateY(-100%);
                }
    
                &:after {
                    width: 6px;
                    transform-origin: 100% 0;
                    top: 100%;
                    left: -15px;
                    transform: translateY(-100%) rotate(45deg);
                }
            }
        }
    }

    &:hover {
        .image {
            img {
                transform: scale(1.1);
            }
        }

        .description {
            .vertical-line {
                top: 100%;
                transition: top .5s 0s;
            }

            .more-button {
                margin-left: 40px;
                transition: all .5s .2s;
            }

            .plus {
                background-color: $blue;
                transform: translateY(-50%) rotate(-135deg);

                &:before,
                &:after {
                    background-color: $yellow;
                }
            }

            .more {
                &-button {
                    color: black;
                }
            }
        }
    }
}